// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$iron: #dadbdf;
$pale-sky: #6b717f;
$regent-grey: #808c99;
$hopbush: #c69;
$dawn-pink: #f2ece4;
$nebula: #d2e1dd;
$midnight-blue: #036;

.card {
  overflow: visible;
}
.profile-pic {
  margin-top: -6em;
  z-index: 1;
  position: relative;
}

.profile-pic > img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.controls {
  cursor: pointer;
}

.row-menu{
  position:relative;
}

.menu {
  display:none;
  right: 1em;
  top: 1.8em;
  position: absolute;
  background-color: #fff;
  padding-left: 0.8em;
  padding-right: 0.8em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.menu-list > li {
  margin-bottom: 1em;
  cursor: pointer;
}

.menu-list > li:last-child{
   margin-bottom: -1em;
}

// History

.event-box {
  width: 100%;
  background-color: lighten($iron, 5);
  margin: 0 auto;
  // color: rgba($iron, .8);
  // color: black;
}

.eventTitle{
  margin-left: 20px;
  color: black;
  font-family: 'Kameron', serif;
  // text-align: center;
  // margin-top: 20px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

// Board Page
.flush{
  // background-color: $iron;
  box-sizing: content-box;
  // width: 300px;
  // height: 100px;
  // border: 10px solid;
}
.boardTitle{
  text-align: center;
  font-family: 'Kameron', serif;
}

#myModal{
  margin: 0 auto;
  margin-top: 10%;
}

#myModal1{
  margin: 0 auto;
  margin-top: 10%;
}

.btn{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
}

.officers-bg {
  padding-top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  // padding-bottom: 170px;
  // margin-top: -25px;
}

.officers-box {
  width: 90%;
  background-color: darken($iron, 15);
  border-radius: 20px;
  margin: 0 auto;
  // color: rgba($iron, .8);
  // color: black;
}

  p {
    letter-spacing: .5px;
  }


.officersTitle{
  text-align: center;
  color: black;
  font-family: 'Kameron', serif;
}

.officersParagraph{
  text-align: center;
  color: black;
  font-family: 'Yantramanav', sans-serif;
}

// .card{
//   margin-left: 10px;
//   margin-bottom: 10px;
// }

// .card-title{
//   color: black;
// }
//
// .card-text{
//   color: black;
// }
//
// .col-sm-3{
//   margin: 0 auto;
// }

.wrap {
  margin-top: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  margin: 0.3em;
  padding: 1.2em 5em;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  border: none;
  font-size: 15px;
  text-align: center;
}

.button:hover {
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
}

.green {
  background-color: #4CAF50;
  color: white;
}

.red {
  background-color: #F44336;
  color: white;
}

.blue {
  background-color: #03A9F4;
  color: white;
}

.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  transform: scale(0.2);
  opacity:0;
  pointer-events: none;
  -webkit-animation: ripple .75s ease-out;
  -moz-animation: ripple .75s ease-out;
  animation: ripple .75s ease-out;
}

@-webkit-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@-moz-keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    opacity:1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
.circle {
// position: relative;
border-radius: 50%;
width: 50%;
height: auto;
// padding-top: 100%;
background: white;
}
