<div class="col s12 blue">
  <h1 class="white-text center">Directory of Members</h1>
</div>
<div class="container">
<div class="row">
  <div class="col s3">Mr. Richard Babalola</div>
  <div class="col s3">Mr. Robert Olanisimi</div>
  <div class="col s3">Mr. Benson Akingbojule</div>
  <div class="col s3">Mr. Omololu Akinbote</div>
  <div class="col s3">Chief  Dr. E.O. Olaseinde</div>
  <div class="col s3">Mr. A.O. Akinniranye</div>
  <div class="col s3">Mr. Ademola Modupe</div>
  <div class="col s3">Mr. S.T. Adegalu</div>
  <div class="col s3">Mr. Oluseyi Okanlawon</div>
  <div class="col s3">Chief Odunayo Olagundoye</div>
</div>
<div class="row">
      <div class="col s3">Mr. Shegun Olagundoye</div>
      <div class="col s3">Chief Fola Awosika</div>
      <div class="col s3">Mr. Akinlolu Akinola</div>
      <div class="col s3">Mr. Fola Adunola</div>
      <div class="col s3">Chief S.O. Adelakun</div>
      <div class="col s3">Chief Segun Adegoke</div>
      <div class="col s3">Mr. B.A.Adenusi</div>
      <div class="col s3">High Chief R.O. Akinsiku</div>
      <div class="col s3">Mr. Jibayo Olagundoye</div>
      <div class="col s3">Professor Tayo Akinwande</div>
  </div>
</div>
<div class="container">
<div class="row">
      <div class="col s3">Rev. Canon G.O.Ogunmoyero</div>
      <div class="col s3">  Very Revd. O Modupe</div>
      <div class="col s3">Mr. Leye Omoniyi</div>
      <div class="col s3">Mr. R.A Fasan</div>
      <div class="col s3">Mr. F.A. Adesioye</div>
      <div class="col s3">Mr. Kole Akinmade</div>
      <div class="col s3">Chief. Femi Akinmade</div>
      <div class="col s3">Mr. Lawrence Adeniyi</div>
      <div class="col s3">Rt. Revd. I.B.O. Akintemi</div>
      <div class="col s3">Rev. Canon Daniel Akintemi</div>
    </div>
<div class="row">
      <div class="col s3">Mr. Dayo Eniola</div>
      <div class="col s3">Mr. Bayo Eniola</div>
      <div class="col s3">Mr. F. Akinwande</div>
      <div class="col s3">Mr. Stephen Akinloose</div>
      <div class="col s3">Mr. Bamidele Omonubi</div>
      <div class="col s3">Mr. Akinfolarin Ogundipe</div>
      <div class="col s3">Mr. Adejayan</div>
      <div class="col s3">Mr. Akinnola</div>
      <div class="col s3">Chief. Ranmilowo Akintunde</div>
      <div class="col s3">Engineer Esho</div>
  </div>
</div>
<!-- <div class="row">
  <div class="col s7 push-s5">
    <ul class="collection">
      <li class="collection-item">Mr. Richard Babalola</li>
      <li class="collection-item">Mr. Robert Olanisimi</li>
      <li class="collection-item">Mr. Benson Akingbojule</li>
      <li class="collection-item">Mr. Omololu Akinbote</li>
      <li class="collection-item">Chief  Dr. E.O. Olaseinde</li>
      <li class="collection-item">Mr. A.O. Akinniranye</li>
      <li class="collection-item">Mr. Ademola Modupe</li>
      <li class="collection-item">Mr. S.T. Adegalu</li>
      <li class="collection-item">Mr. Oluseyi Okanlawon</li>
      <li class="collection-item">Chief Odunayo Olagundoye</li>
    </ul>
  </div>
  <div class="col s5 push-s7">
    <ul class="collection">
      <li class="collection-item">Mr. Shegun Olagundoye</li>
      <li class="collection-item">Chief Fola Awosika</li>
      <li class="collection-item">Mr. Akinlolu Akinola</li>
      <li class="collection-item">Mr. Fola Adunola</li>
      <li class="collection-item">Chief S.O. Adelakun</li>
      <li class="collection-item">Chief Segun Adegoke</li>
      <li class="collection-item">Mr. B.A.Adenusi</li>
      <li class="collection-item">High Chief R.O. Akinsiku</li>
      <li class="collection-item">Mr. Jibayo Olagundoye</li>
      <li class="collection-item">Professor Tayo Akinwande</li>
    </ul>
  </div>
</div> -->
<!-- <div class="row">
  <div class="col s7 push-s5">
    <ul class="collection">
      <li class="collection-item">Rev. Canon G.O.Ogunmoyero</li>
      <li class="collection-item">Very Revd. O Modupe</li>
      <li class="collection-item">Mr. Leye Omoniyi</li>
      <li class="collection-item">Mr. R.A Fasan</li>
      <li class="collection-item">Mr. F.A. Adesioye</li>
      <li class="collection-item">Mr. Kole Akinmade</li>
      <li class="collection-item">Chief. Femi Akinmade</li>
      <li class="collection-item">Mr. Lawrence Adeniyi</li>
      <li class="collection-item">Rt. Revd. I.B.O. Akintemi</li>
      <li class="collection-item">Rev. Canon Daniel Akintemi</li>
    </ul>
  </div>

  <div class="col s5 push-s7">
    <ul class="collection">
      <li class="collection-item">Mr. Dayo Eniola</li>
      <li class="collection-item">Mr. Bayo Eniola</li>
      <li class="collection-item">Mr. F. Akinwande</li>
      <li class="collection-item">Mr. Stephen Akinloose</li>
      <li class="collection-item">Mr. Bamidele Omonubi</li>
      <li class="collection-item">Mr. Akinfolarin Ogundipe</li>
      <li class="collection-item">Mr. Adejayan</li>
      <li class="collection-item">Mr. Akinnola</li>
      <li class="collection-item">Chief. Ranmilowo Akintunde</li>
      <li class="collection-item">Engineer Esho</li>
    </ul>
  </div>
</div> -->
