
<div class="col s12 blue">
  <h1 class="white-text center">Directory of Members</h1>
</div>
<ul class="numbered-list">
  <li>Mr. Richard Babalola</li>
  <li>Mr. Robert Olanisimi</li>
  <li>Mr. Benson Akingbojule</li>
  <li>Mr. Omololu Akinbote</li>
  <li>Chief  Dr. E.O. Olaseinde</li>
  <li>Mr. A.O. Akinniranye</li>
  <li>Mr. Ademola Modupe</li>
  <li>Mr. S.T. Adegalu</li>
  <li>Mr. Oluseyi Okanlawon</li>
  <li>Chief Odunayo Olagundoye</li>
  <li>Mr. Shegun Olagundoye</li>
  <li>Chief Fola Awosika</li>
  <li>Mr. Akinlolu Akinola</li>
  <li>Mr. Fola Adunola</li>
  <li>Chief S.O. Adelakun</li>
  <li>Chief Segun Adegoke</li>
  <li>Mr. B.A.Adenusi</li>
  <li>High Chief R.O. Akinsiku</li>
  <li>Mr. Jibayo Olagundoye</li>
  <li>Professor Tayo Akinwande</li>
  <li>Rev. Canon G.O.Ogunmoyero</li>
  <li>Very Revd. O Modupe</li>
  <li>Mr. Leye Omoniyi</li>
  <li>Mr. R.A Fasan</li>
  <li>Mr. F.A. Adesioye</li>
  <li>Mr. Kole Akinmade</li>
  <li>Chief. Femi Akinmade</li>
  <li>Mr. Lawrence Adeniyi</li>
  <li>Rt. Revd. I.B.O. Akintemi</li>
  <li>Rev. Canon Daniel Akintemi</li>
  <li>Mr. Dayo Eniola</li>
  <li>Mr. Bayo Eniola</li>
  <li>Mr. F. Akinwande</li>
  <li>Mr.Stephen Akinloose</li>
  <li>Mr. Bamidele Omonubi</li>
  <li>Mr. Akinfolarin Ogundipe</li>
  <li>Mr. Adejayan</li>
  <li>Mr. Akinnola</li>
  <li>Chief. Ranmilowo Akintunde</li>
  <li>Engineer Esho</li>

</ul>
