<!-- <div class="video-container"> -->

  <video poster="722677679.jpg" class="responsive-video" muted="muted" preload="auto" loop="true" autoplay="true" id="background">
    <source src="722677679.mp4" type="video/mp4">
  </video>

      <!-- <h1>List Item</h1>
      <p>This is a description</p> -->


<!-- </div> -->

<!-- <div class="wrapper">

</div> -->


<div class="blank">
  <div class="mk-text-block true">
    <h1 class="blank-title">Hello</h1>
  </div>
  <hr class="separationLine">
  <!-- <div class="wpb_wrapper"> -->
    <div class="mk-text-block">
      <h4 class="blank-content">Plan current and future water resource facility operations with Hydrocomp Forecast and Analysis Model (HFAM) software.</h4>
    <!-- </div> -->
  </div>
  <!-- <div class="mk-shortcode mk-padding-shortcode" style="height:300px"></div> -->
</div>

<div class="wrapper">
<ul id="staggered-test">
<!-- <ul id="test"> -->
  <li>
    <h4><a href="#">List Item</a></h4>
    <p>This is a description</p>
  </li>
  <li>
    <h4><a href="#">List Item</a></h4>
    <p>This is a description</p>
  </li>
  <li>
    <h4><a href="#">List Item</a></h4>
    <p>This is a description</p>
  </li>
  <li>
    <h4><a href="#">List Item</a></h4>
    <p>This is a description</p>
  </li>
  <li>
    <h4><a href="#">List Item</a></h4>
    <p>This is a description</p>
  </li>
</ul>
</div>


<img id="image-test" class="responsive-img" src="https://unsplash.imgix.net/reserve/nE6neNVdRPSIasnmePZe_IMG_1950.jpg?dpr=1.25&fit=crop&fm=jpg&h=700&q=75&w=1050">

<!-- <video poster="722677679.mp4" id="sky" preload="auto" playsinline autoplay muted loop>
  <source src="722677679.mp4" type="video/mp4">
</video> -->
<!-- <video src="722677679.mp4" autoplay="autoplay" loop="loop" muted="muted" poster="722677679.mp4">
</video> -->

<!-- <h2 class= 'propBox'>Get Your Estimate</h2> -->
