<!-- This Page will be added later -->
<!-- <div class = "event-box">
  <br><br><br>
  <div class="eventTitle">
  <h1>History</h1>

</div>
</div> -->
<div class="col s12 blue">
  <h1 class="white-text center">History</h1>
</div>

  <div class="container">
  <!-- <div class="page-header">
    <h1 id="timeline">Events</h1>
  </div> -->
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <!-- <h4 class="timeline-title">Event</h4> -->
          <h4 class="timeline-title">1939</h4>
          <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 1939</small></p> -->
        </div>
        <div class="timeline-body">
          <p>A group of twelve friends came together to form a club. Later the members thought it would be better to make the club a Christian organization in All Saints Church, Ondo.</p>
          <p>They adopted the name Morning Star for the Christian association.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Founding Fathers of the club:</h4>
        </div>
        <div class="timeline-body">
          <table>
            <!-- <thead>
              <tr>
                  <th>Name</th>
                  <th>Item Name</th>
                  <th>Item Price</th>
              </tr>
            </thead> -->

            <tbody>
              <tr>
                <td>Mr. Festus Awosika</td>
                <td>Chairman (the first Chairman of Morning Star)</td>
                <!-- <td>$0.87</td> -->
              </tr>
              <tr>
                <td>Mr. S.R. Fadayomi</td>
                <td>Vice Chairman ( the first Vice Chairman)</td>
                <!-- <td>$3.76</td> -->
              </tr>
              <tr>
                <td>Mr. G.O. Famakinwa</td>
                <td>Secretary (the first Secretary)</td>
                <!-- <td>$7.00</td> -->
              </tr>
              <tr>
                <td>Mr. S.O. Popoola</td>
                <td>Treasurer</td>
                <!-- <td>$7.00</td> -->
              </tr>
              <hr>
              <tr>
                <td>Mr. Earnest O. Leyimu</td>
                <td>Bishop I.B.O. Akintemi</td>
              </tr>
              <tr>
                <td>Ourage and Mr. F.A. Roberts</td>
                <td>Mr. Ebenezer Branco Adegoke</td>
              </tr>
              <tr>
                <td>Chief Lomofe Akinsete</td>
                <td>Mr. Akinmusire</td>
              </tr>
              <tr>
                <td>Mr. Thompson Akinjagunla</td>
                <td>Mr. Z.A. Oyeneyin</td>
              </tr>
              <tr>
                <td>Chief S.O. Oladapo was the Patron of the Association.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <!-- <div class="timeline-heading">
          <h4 class="timeline-title">Mussum ipsum cacilds</h4>
        </div> -->
        <div class="timeline-body">
          <p>Soon after the inauguration the Patron advised that the members should be willing to admit more member since it had become a Chrstian Organisation.
            The agreement of the Association led to several new members joining the founding members, such included:</p>
            <!-- <p></p> -->
            <table>
              <tbody>
                <tr>
                  <td>Mr. Samuel Ademulegun</td>
                  <td>(Later became a Brigadier in the Nigerian army)</td>
                  <!-- <td>$0.87</td> -->
                </tr>
                <tr>
                  <td>Mr. Julius Modupe</td>
                </tr>
                <tr>
                  <td>Mr. S.O. Fowowe</td>
                </tr>
                <tr>
                  <td>And many others</td>
                </tr>
                <hr>
              </tbody>
            </table>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1940</h4>
        </div>
        <div class="timeline-body">
          <p>The Association proceeded with meetings in the year 1940 and developed a Constitution.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1941</h4>
        </div>
        <div class="timeline-body">
          <p>The Association formally adopted the Constitution in 1941.</p>
          <hr>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <!-- <h4 class="timeline-title">Mussum ipsum cacilds</h4> -->
        </div>
        <div class="timeline-body">
          <p>The First social engagement of the Association was the active part the members took at the time of the marriage of Mr. Ebenezer Branco Adegoke of blessed memory.
          Members have since developed the spirit of being actively involved in any occasion or event affecting the welfare of any other member.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
