<div class="aboutGround">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="footer-title text-xs-center">
          <br>
          <h4 class="p-b-1 center">About Us</h4>
           <div class = "about-bg">
            <div class = "about-box">
              <div class = "about-text">
                <p>
                <br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


<div class="row">
  <div class="col l12 m12 s12">
    <div class="row">
      <div class="col s12">
        <div class="card center">
          <div class="card-content">
            <br><br><br><br>
            <div class="row">
              <div class="col s4 profile-pic">
                <a href="/about/mission"><img class="circle responsive-img" src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png"  alt="" /></a>
                <a href="/about/mission"><p class="card-text center" href="/about/mission">Mission</p></a>
              </div>
              <div class="col s4 profile-pic">
                <a href="/about/staff"><img class="circle responsive-img" src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png"  alt="" /></a>
                <a href="/about/staff"><p class="card-text center" href="/about/staff">Our Staff</p></a>
              </div>
              <div class="col s4 profile-pic">
                <a href="/about/history"><img class="circle responsive-img" src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png"  alt="" /></a>
                <a href="/about/history"><p class="card-text center" href="/about/history">History</p></a>
              </div>
            </div>
            <!-- <br><br><br><br>
              <div class="row">
                <div class="col s4 profile-pic">
                  <a href="/about/history"><img class="circle responsive-img" src="https://lh3.googleusercontent.com/-W2XryVdi-lA/U6tSAh3SsbI/AAAAAAAAFGY/ZHJiUEcR_Zs/w480-h480/avatar%2Bmaterial%2Bdesign.png"  alt="" /></a>
                  <a href="/about/history"><p class="card-text center" href="/about/history">History</p></a>
                </div>

              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>
  </div>

<!-- </div> -->
