<div class="slider">
  <ul class="slides">
    <li>
      <img src="/cross-2744227_1920.jpg">
      <div class="caption center-align">
        <!-- <h3>This is our big Tagline!</h3> -->
        <!-- <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
      </div>
    </li>
  </ul>
</div>

<h4 class="missionWork">How We Work</h4>
<!-- <p class="description">Description of Morning Star Association</p> -->
<p class="description">We exist to contribute and provide support to each member and All Saints Church's projects and programs.</p>


<h4 class="missionObjectives">Our Guiding Principles</h4>
<ul class="description">
  <li>(a) To encourage and promote Christian ideals among members</li>
  <li>(b) To render moral and financial assistance to needy members whenever deemed neceessary.</li>
  <li>(c) To support the church morally and financially in her various responsibilities and activies,<br>
  which activities are considered to be necessary to the spiritual well-being of our people.</li>
  <li>(d) To cooperate with any other of our Church Associations in working out and executing any project conducive to the welfare, development, and progress of the church.</li>
  <li>(e) To offer suggestions and criticisms, which we think, will enhance the progress of the church.</li>
</ul>
