<!-- <div class="row"> -->
<div class="col s12 blue">
  <h1 class="white-text center">Our Staff</h1>
</div>

<div class="card-panel">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="wrap">
          <h3>Officers</h3>
          <div class="col s4">
            <img class="circle responsive-img" src="/empty.png" alt="Card image cap">
            <a class="button blue modal-trigger" href="#modal1">President</a>
            <div id="modal1" class="modal">
              <div class="modal-content">
                <h4>Name</h4>
                <p>Description</p>
              </div>

              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">X</a>
              </div>
            </div>
          </div>

          <div class="col s4">
            <img class="circle responsive-img" src="/empty.png" alt="Card image cap">
            <a class="button blue modal-trigger" href="#modal2">Vice President</a>
            <div id="modal2" class="modal">
              <div class="modal-content">
                <h4>Name</h4>
                <p>Description</p>
              </div>

              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">X</a>
              </div>
            </div>
          </div>
          <div class="col s4">
            <img class="circle responsive-img" src="/empty.png" alt="Card image cap">
            <a class="button blue modal-trigger" href="#modal3">Secretary</a>
            <div id="modal3" class="modal">
              <div class="modal-content">
                <h4>Name</h4>
                <p>Description</p>
              </div>

              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">X</a>
              </div>
            </div>
          </div>
          <div class="col s4">
            <img class="circle responsive-img" src="/empty.png" alt="Card image cap">
            <a class="button blue modal-trigger" href="#modal4">Treasurer</a>
            <div id="modal4" class="modal">
              <div class="modal-content">
                <h4>Name</h4>
                <p>Description</p>
              </div>

              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">X</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
