<!-- <div class="row"> -->
<div class="col s12 blue">
  <h1 class="white-text center">Our Staff</h1>
</div>

<div class="card-panel">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <!-- <div class="wrap"> -->
          <!-- <h3>Officers</h3> -->
          <div class="container">
            <div class="row">
              <div class="col s12 cards-container">
                 <div class="card blue-grey darken-1">
                   <div class="card-content white-text">
                     <span class="card-title center activator grey-text text-darken-4">Very Revd. O Modupe
                       <!-- <i class="material-icons right">more_vert</i> -->
                     </span>
                     <p class="black-text center activator">President</p>
                       <!-- <a class="button blue activator" href="#modal4">click</a> -->
                   </div>
                   <!-- <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4">Card Title
                       <i class="material-icons right">close</i>
                     </span>
                     <p>Here is some more information about this product that is only revealed once clicked on.</p>
                   </div> -->
                  </div>
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title center activator grey-text text-darken-4">Mr. S.T. Adegalu
                        <!-- <i class="material-icons right">more_vert</i> -->
                      </span>
                      <p class="black-text center activator">Treasurer</p>
                        <!-- <a class="button blue activator" href="#modal4">click</a> -->
                    </div>
                    <!-- <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title
                        <i class="material-icons right">close</i>
                      </span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div> -->
                   </div>
                   <div class="card blue-grey darken-1">
                     <div class="card-content white-text">
                       <span class="card-title center activator grey-text text-darken-4">Mr. Jibayo Olagundoye
                         <!-- <i class="material-icons right">more_vert</i> -->
                       </span>
                       <p class="black-text center activator">Vice President</p>
                         <!-- <a class="button blue activator" href="#modal4">click</a> -->
                     </div>
                     <!-- <div class="card-reveal">
                       <span class="card-title grey-text text-darken-4">Card Title
                         <i class="material-icons right">close</i>
                       </span>
                       <p>Here is some more information about this product that is only revealed once clicked on.</p>
                     </div> -->
                    </div>
                    <div class="card blue-grey darken-1">
                      <div class="card-content white-text">
                        <span class="card-title center activator grey-text text-darken-4">Mr. Robert Olanisimi
                          <!-- <i class="material-icons right">more_vert</i> -->
                        </span>
                        <p class="black-text center activator">Financial Secretary</p>
                          <!-- <a class="button blue activator" href="#modal4">click</a> -->
                      </div>
                      <!-- <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title
                          <i class="material-icons right">close</i>
                        </span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div> -->
                     </div>
                     <div class="card blue-grey darken-1">
                       <div class="card-content white-text">
                         <span class="card-title center activator grey-text text-darken-4">Mr. Ademola Modupe
                           <!-- <i class="material-icons right">more_vert</i> -->
                         </span>
                         <p class="black-text center activator">Secretary</p>
                           <!-- <a class="button blue activator" href="#modal4">click</a> -->
                       </div>
                       <!-- <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">Card Title
                           <i class="material-icons right">close</i>
                         </span>
                         <p>Here is some more information about this product that is only revealed once clicked on.</p>
                       </div> -->
                      </div>
                      <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                          <span class="card-title center activator grey-text text-darken-4">Mr. Stephen Akinloose
                            <!-- <i class="material-icons right">more_vert</i> -->
                          </span>
                          <p class="black-text center activator">Assistant Secretary</p>
                            <!-- <a class="button blue activator" href="#modal4">click</a> -->
                        </div>
                        <!-- <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Card Title
                            <i class="material-icons right">close</i>
                          </span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div> -->
                       </div>
              </div>
            </div>
          </div>
<!-- </div> -->
</div>
</div>
</div>
</div>
